<template>
<img :src="`https://stage.whgstage.com/scontent/images/games/${launchCode}.jpg`" :alt="name">
</template>

<script>
export default {
  name: "game-image",
  props: {
    launchCode: {
      required: true,
      type: String,
      default: '',
    },
    name: {
      required: true,
      type: String,
      default: '',
    },
  }
}
</script>

<style scoped>

</style>