<template>
  <div class="list">
    <table v-if="dataLoaded">
        <thead>
          <th v-for="col of columns" :field="col.field" :key="col.field">{{ col.header }}</th>
        </thead>
        <tbody>
          <tr v-for="g of games" :key="g.id" @click="showLaunchCode(g)">
            <td>
              <hot v-if="g.hot"/>
              <new  v-if="g.new"/>
              {{ g.name }}
            </td>
            <td>
              <game-image :launch-code="g.launchcode" :name="g.name"/>
            </td>
            <td>
              {{ g.rtp }}
            </td>
            <td>
              {{ g.provider }}
            </td>
          </tr>
        </tbody>
    </table>
    <div v-else class="loader"></div>
  </div>
</template>

<script>
import GameImage from "@/components/games/GameImage";
import Hot from "@/components/games/Hot";
import New from "@/components/games/New";
export default {
  name: 'games-list',
  components: {GameImage, Hot, New},
  created() {
  },
  props: {
    games: Array,
    dataLoaded: Boolean
  },
  data() {
    return {
      columns: [
        {field: 'name', header: 'Name'},
        {field: 'image', header: 'Image'},
        {field: 'rtp', header: 'Rtp'},
        {field: 'provider', header: 'Provider'},
      ],
    }
  },
  methods: {
    showLaunchCode(game) {
      alert(game.launchcode)
    }
  }
}
</script>

<style scoped>
tr {
  cursor: pointer;
}
</style>
