<template>
  <div class="filters">
    <label>
      Brand
      <select v-model="brandId">
        <option v-for="b of getBrands" :value="b.id" :key="b.id">
          {{ b.brand }}
        </option>
      </select>
    </label>
    <label>
      Category
      <select v-model="categoryId">
        <option v-for="c of getCategories" :value="c.id" :key="c.id">
          {{ c.name }}
        </option>
      </select>
    </label>
    <label>
      Country
      <select v-model="countryCode">
        <option v-for="c of getCountries" :value="c.code" :key="c.code">
          {{ c.country }}
        </option>
      </select>
    </label>
  </div>
</template>

<script>
export default {
  name: "games-filter",
  data() {
    return {
      brandId: 0,
      categoryId: 0,
      countryCode: 0,
    }
  },
  watch: {
    getBrands(value) {
      this.defaultValue = value.id
    },
    brandId() {
      this.applyFilters();
    },
    categoryId() {
      this.applyFilters();
    },
    countryCode() {
      this.applyFilters();
    }
  },
  computed: {
    getBrands() {
      return this.$store.getters.allBrands
    },
    getCategories() {
      return this.$store.getters.getCategories
    },
    getCountries() {
      return this.$store.getters.getCountries
    }
  },
  mounted() {
    this.$store.dispatch("getBrands")
  },
  methods: {
    applyFilters() {
      const brandId = this.brandId
      const categoryId = this.categoryId
      const countryCode = this.countryCode

      this.$emit('applyFilters', { brandId, categoryId, countryCode });
    }
  }
}
</script>

<style scoped>

</style>