<template>
  <img alt="Vue logo" src="./assets/logo.png">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/games">Games</router-link>
    </div>
    <div class="main">
      <router-view />
    </div>
</template>

<script>
import RouterLink from 'vue-router'
export default {
  name: 'App',
  components: {
    RouterLink,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
