<template>
  <div class="games">
    <games-filter @applyFilters="updateFilters"/>
    <games-list :games="games" :data-loaded="dataLoaded"/>
  </div>
</template>

<script>
import gamesAPI from "@/api/Games/games";
import GamesList from "@/components/games/GamesList";
import GamesFilter from "@/components/games/GamesFilter";
export default {
  name: 'games-view',
  components: {GamesFilter, GamesList},
  data() {
    return {
      games: [],
      dataLoaded: false,
    }
  },
  created() {
    this.loadData();
    gamesAPI.getCategoriesList().then(response => {
      // this.filters.categories = response.data
      console.log(response)
    });
  },
  methods: {
    updateFilters(filters) {
      this.dataLoaded = false
      this.loadData(filters)
    },
    loadData(filters) {
      gamesAPI.getGamesList(filters).then(response => {
        this.games = response.data
        this.dataLoaded = true
      });
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
